@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 400px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-button {
  width: 200px;
  height: 50px;
  border-radius: 25px;
  background-color: #4285F4;
  color: white;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  border: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
}

.loader {
  border: 5px solid #87b4fb;
  border-top: 5px solid #4285F4;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

.loader-text {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  margin-top: 20px;
  text-align: center;
}

.loader-text-validation {
  font-size: 13px;
  font-weight: bold;
  color: #4e4d4d;
  margin-top: 20px;
  text-align: center;
}